<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.ops4j.coro.ui.diagram.score"
            name="Coro Score"
            type="score">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.ops4j.coro.ui.score.editor.diagram.ScoreDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="org.ops4j.coro.ui.score.diagramTypeProvider"
            name="Score Diagram">
         <diagramType
               id="org.ops4j.coro.ui.diagram.score">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.ops4j.coro.ui.score.editor.diagram.ScoreNewWizard"
            id="org.ops4j.coro.ui.score.editor.newScoreWizard"
            name="Score">
      </wizard>
      <category
            id="org.ops4j.coro.ui.score.editor.category1"
            name="Coro">
      </category>
   </extension>

</plugin>
