<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.ops4j.coro.ui.diagram.score"
            name="Coro Score"
            type="score">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.ops4j.coro.ui.score.editor.diagram.ScoreDiagramTypeProvider"
            context="org.ops4j.coro.ui.score.editor"
            id="org.ops4j.coro.ui.score.diagramTypeProvider"
            name="Score Diagram">
         <diagramType
               id="org.ops4j.coro.ui.diagram.score">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.ops4j.coro.ui.score.editor.diagram.ScoreNewWizard"
            id="org.ops4j.coro.ui.score.editor.newScoreWizard"
            name="Score">
      </wizard>
      <category
            id="org.ops4j.coro.ui.score.editor.category1"
            name="Coro">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="C">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchC">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="D">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchD">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="E">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchE">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchF">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="G">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchG">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="A">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchA">
         </parameter>
      </key>
      <key
            commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
            contextId="org.ops4j.coro.ui.score.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="B">
         <parameter
               id="org.eclipse.graphiti.ui.featureHint"
               value="notePitchB">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.ops4j.coro.ui.score.editor"
            name="Coro Score Context"
            parentId="org.eclipse.graphiti.ui.diagramEditor">
      </context>
   </extension>

</plugin>
